/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "palettes/material-palette";
@import "palettes/green-palette";
@import "palettes/red-palette";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e8eaf6;
}

.app-header {
    margin-top: 0.5rem;
    text-align: center;
}

.full-width {
    width: 100%;
}
