@import "../../../../../assets/scss/palettes/material-palette";

:host {
}

.costs-list-cost-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.costs-list-toolbar {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .3rem;
    .costs-list-cost-counter {
        mat-chip-list {
            :focus {
                outline: none;
            }
        }
    }

    .costs-list-cost-filter {
        .costs-list-filter-button {
            width: 31px;
            height: 31px;

            .costs-list-filter-button-icon {
                margin: -3px 0px 0px 0px !important;
            }
        }
    }
}

.costs-list-cost {

    :first-child {
        margin-top: 0;
    }

    margin-top: 3px;
    cursor: pointer;
    border: solid 1px $primary-color-light;
    border-radius: 5px;

    .remove {
        background-color: rgba(250, 88, 88, 0.8);
    }

    .add {
        background-color: rgba(164, 251, 166, 0.8);
    }
}
