@import "../../../../../assets/scss/palette";

:host {
    width: 17rem;
}

.costs-list-cost-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.costs-list-cost-counter {
    position: absolute;
    right: 1.5rem;
    top: 1.0rem;

    md-chip-list {
        :focus {
            outline: none;
        }
    }
}

.costs-list-cost {

    :first-child {
        margin-top: 0;
    }

    margin-top: 3px;
    cursor: pointer;
    border: solid 1px $primary-color-light;
    border-radius: 5px;
}
