<md-card class="costs-list">
    <div class="costs-list-cost-counter">
        <md-chip-list>
            <md-chip>
                {{costs['length']}}
            </md-chip>
        </md-chip-list>
    </div>
    <md-card-header class="costs-list-header">
        <md-card-title>Операции:</md-card-title>
        <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item *ngIf="costs['length'] === 0 && costsLoaded">
                <md-icon md-list-icon>cancel</md-icon>
                <h4 md-line>За текущий период нет операций</h4>
            </md-list-item>
            <md-list-item class="costs-list-cost" *ngFor="let cost of costs" (click)="editCost(cost)">
                <md-icon md-list-icon>{{cost.type}}</md-icon>
                <h4 md-line>{{cost.amount}} &#8381;</h4>
                <p class="costs-list-cost-description" *ngIf="cost.description" md-line>{{cost.description}}</p>
                <p md-line>{{cost.formatDate}}</p>
            </md-list-item>
        </md-list>
    </md-card-content>
    <simple-notifications [options]="notifyOptions"></simple-notifications>
</md-card>
