@import "./../../../assets/scss/palettes/material-palette";

:host {
    position: absolute;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#register-layout-host {
    width: 350px;
    height: auto;
    border-radius: 15px;
    border: solid 3px $primary-color-dark;
    padding: 7px;
    background-color: white;

    #register-layout {
        position: relative;
        .close-layout {
            right: 0;
            position: absolute;
        }

        .register-header {
            h4 {
                text-align: center;
                padding-top: 0.6rem;
                margin-top: 0 !important;
            }
        }

        .registration-form {
            .grid-form {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;

                * {
                    width: auto;
                    margin: 0 auto;
                }
            }
        }
    }
}

.registration-form-submit-container {
    margin-top: 1.0rem;
}
