<div id="register-layout-host">
    <div id="register-layout">
        <button class="close-layout" md-icon-button color="accent" routerLink="/">
            <md-icon>close</md-icon>
        </button>
        <div class="register-header">
            <h4>Регистрация</h4>
        </div>
        <hr class="hr-style2-accent hr-no-margin">
        <div class="registration-form">
            <form [formGroup]="registerForm" (submit)="submit($event)" class="grid-form">

                <md-form-field>
                    <input type="text"
                           mdInput
                           formControlName="name"
                           [(ngModel)]="freshUser['name']"
                           placeholder="Имя пользователя">
                </md-form-field>

                <md-form-field>
                    <input type="text"
                           mdInput
                           formControlName="login"
                           [(ngModel)]="freshUser['login']"
                           placeholder="Логин">
                </md-form-field>

                <md-form-field>
                    <input type="password"
                           mdInput
                           formControlName="password"
                           [(ngModel)]="freshUser['password']"
                           placeholder="Пароль">
                </md-form-field>

                <md-form-field>
                    <input type="email"
                           mdInput
                           class="full-width"
                           formControlName="email"
                           [(ngModel)]="freshUser['email']"
                           placeholder="E-mail">
                </md-form-field>

                <div class="registration-form-submit-container">
                    <button [disabled]="registerForm.invalid"
                            type="submit"
                            md-raised-button color="accent">
                        <md-icon>done</md-icon>
                        Готово
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
