<div>
    <div class="app-header">
        <h3>Dashboard</h3>
    </div>
    <div class="app-content">
        <md-tab-group>
            <md-tab label="Календарь">
                Виджет календаря
                <!--<calendar></calendar>-->
            </md-tab>
            <md-tab label="Записи">
                Виджет записей
            </md-tab>
            <md-tab label="Финансы">
                Виджет финансов
                <!--<costs-widget></costs-widget>-->
            </md-tab>
        </md-tab-group>
    </div>
</div>
