<div class="edit-cost-dialog">
    <div class="edit-cost-dialog-spinner-container">
        <spinner class="edit-cost-dialog-spinner" [hidden]="!loading" [strokeWidth]="strokeWidth" [width]="spinnerWidth" [height]="spinnerHeight"></spinner>
    </div>
    <div class="edit-cost-dialog-header">
        <p>Изменить операцию</p>
    </div>
    <form [formGroup]="editCostForm" (ngSubmit)="updateCost(cost)">
        <table cellpadding="0">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput
                               formControlName="date"
                               [matDatepicker]="picker"
                               [(ngModel)]="costDate"
                               (dateInput)="costDateInput($event)"
                               (dateChange)="costDateChange($event)"
                               placeholder="Выберите дату операции">
                        <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [touchUi]="true" [startAt]="costDate" #picker></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-select class="full-width"
                                    formControlName="type"
                                    [(ngModel)]="cost.type"
                                    placeholder="Статья">
                            <mat-option *ngFor="let costType of costTypes" [value]="costType.icon">
                                {{costType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput
                               [(ngModel)]="cost.amount"
                               formControlName="amount"
                               type="number"
                               placeholder="Сумма">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput
                               [(ngModel)]="cost.description"
                               formControlName="description"
                               type="text"
                               placeholder="Описание">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <button mat-raised-button color="primary" class="edit-cost-dialog-submit" [disabled]="!editCostForm.valid || loading">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="deleteCost($event, cost['_id'])" [disabled]="loading" class="edit-cost-dialog-delete">
            <mat-icon>delete</mat-icon>
        </button>
    </form>
    <simple-notifications [options]="notifyOptions"></simple-notifications>
</div>
