<div class="edit-cost-dialog">
    <div class="edit-cost-dialog-spinner-container">
        <spinner class="edit-cost-dialog-spinner" [hidden]="!loading" [strokeWidth]="strokeWidth" [width]="spinnerWidth" [height]="spinnerHeight"></spinner>
    </div>
    <div class="edit-cost-dialog-header">
        <p>Изменить операцию</p>
    </div>
    <form [formGroup]="editCostForm" (ngSubmit)="updateCost(cost)">
        <table cellpadding="0">
            <tr>
                <td>
                    <md-form-field>
                        <input mdInput
                               formControlName="date"
                               [mdDatepicker]="picker"
                               [(ngModel)]="costDate"
                               (dateInput)="costDateInput($event)"
                               (dateChange)="costDateChange($event)"
                               placeholder="Выберите дату операции">
                        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                        <md-datepicker [touchUi]="true" [startAt]="costDate" #picker></md-datepicker>
                    </md-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <md-select class="full-width"
                               formControlName="type"
                               [(ngModel)]="cost.type"
                               placeholder="Статья">
                        <md-option *ngFor="let costType of costTypes" [value]="costType.icon">
                            {{costType.name}}
                        </md-option>
                    </md-select>
                </td>
            </tr>
            <tr>
                <td>
                    <md-form-field class="full-width">
                        <input mdInput
                               [(ngModel)]="cost.amount"
                               formControlName="amount"
                               type="number"
                               placeholder="Сумма">
                    </md-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <md-form-field class="full-width">
                        <input mdInput
                               [(ngModel)]="cost.description"
                               formControlName="description"
                               type="text"
                               placeholder="Описание">
                    </md-form-field>
                </td>
            </tr>
        </table>

        <button md-raised-button color="primary" class="edit-cost-dialog-submit" [disabled]="!editCostForm.valid || loading">
            <md-icon>save</md-icon>
        </button>
        <button md-raised-button color="warn" (click)="deleteCost($event, cost['_id'])" [disabled]="loading" class="edit-cost-dialog-delete">
            <md-icon>
                delete
            </md-icon>
        </button>
    </form>
    <simple-notifications [options]="notifyOptions"></simple-notifications>
</div>
