<div class="edit-cost-dialog">
    <div class="edit-cost-dialog-spinner-container">
        <spinner class="edit-cost-dialog-spinner" [hidden]="!loading" [strokeWidth]="strokeWidth" [width]="spinnerWidth" [height]="spinnerHeight"></spinner>
    </div>
    <div class="edit-cost-dialog-header">
        <p>Изменить операцию</p>
    </div>
    <form [formGroup]="editCostForm" (ngSubmit)="updateCost(cost)">
        <table cellpadding="0">
            <tr>
                <td>
                    <md-input-container>
                        <input mdInput
                               [(ngModel)]="cost.date"
                               [mdDatepicker]="picker"
                               formControlName="date"
                               placeholder="Выберите дату операции">
                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    </md-input-container>
                    <md-datepicker [startAt]="startDate" [touchUi]="true" #picker></md-datepicker>
                </td>
            </tr>
            <tr>
                <td>
                    <md-select class="full-width"
                               [(ngModel)]="cost.type"
                               formControlName="type"
                               placeholder="Статья">
                        <md-option *ngFor="let costType of costTypes" [value]="costType.icon">
                            {{costType.name}}
                        </md-option>
                    </md-select>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container class="full-width">
                        <input mdInput
                               [(ngModel)]="cost.amount"
                               formControlName="amount"
                               type="number"
                               placeholder="Сумма">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container class="full-width">
                        <input mdInput
                               [(ngModel)]="cost.description"
                               formControlName="description"
                               type="text"
                               placeholder="Описание">
                    </md-input-container>
                </td>
            </tr>
        </table>

        <button md-raised-button color="primary" class="edit-cost-dialog-submit" [disabled]="!editCostForm.valid || loading">
            <md-icon>save</md-icon>
        </button>
        <button md-raised-button color="warn" (click)="deleteCost($event, cost['_id'])" [disabled]="loading" class="edit-cost-dialog-delete">
            <md-icon>
                delete
            </md-icon>
        </button>
    </form>
    <simple-notifications [options]="notifyOptions"></simple-notifications>
</div>
