<div *ngIf="chartDataSet" class="">
    <div class="chart-switch-container">
        <button md-icon-button (click)="switchChart('line')">
            <md-icon>
                show_chart
            </md-icon>
        </button>
        <button md-icon-button (click)="switchChart('bar')" class="active-chart">
            <md-icon>
                insert_chart
            </md-icon>
        </button>
    </div>
    <div style="display: block;">
        <canvas baseChart
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="chartLegend"
                [chartType]="chartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>
