.app-toolbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 7px;

    #costs-statistic {
        min-width: 275px;
    }
}

.app-content {
    display: grid;
    margin-top: 7px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 7px;

    #costs-list {
        min-width: 275px;
        height: 100%;
    }

    #costs-chart {
        height: 100%;
    }
}
