.app-content {
    display: grid;
    margin-top: 7px;
    grid-template-columns: auto 2fr;

    * {
        :first-child {

        }
    }

    *:nth-child(even) {
        margin-left: 7px;
    }

    *:last-child {

    }
}
