<div>
    <md-card class="app-header">
        <h3>Финансы</h3>
    </md-card>
    <div class="app-toolbar">
        <costs-statistic id="costs-statistic"></costs-statistic>
        <costs-control-panel (costsSearchEmitter)="costsSearchEmitter($event)"></costs-control-panel>
    </div>
    <div class="app-content">
        <costs-list id="costs-list"
                    (costEdited)="requestModifiedData()"
                    (costDeleted)="requestModifiedData()"></costs-list>
    </div>
    <div class="app-actions">
        <add-cost (costAdded)="requestModifiedData()"></add-cost>
    </div>
    <router-outlet></router-outlet>
</div>
