#login-layout {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: solid 1px blue;
    border-radius: 15px;
    padding: 7px;
    text-align: center;
}

#login-header {
    text-align: center;
}
