@import "../../../assets/scss/palette";

#login-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-color-light;
    z-index: 2;
    cursor: pointer;
}

#login-layout-host {
    margin-top: 10%;
}

#login-layout {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 7px;
    text-align: center;
    background-color: white;
}

#login-header {
    text-align: center;
}


