<div id="login-page">
    <div id="login-layout-host">
        <div id="login-layout">
            <div id="login-header">
                <h1>Note swift</h1>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()" id="login-form">
                <mat-input-container>
                    <input matInput formControlName="name"
                           type="text"
                           [(ngModel)]="model.name"
                           placeholder="Логин">
                </mat-input-container>
                <mat-input-container>
                    <input matInput formControlName="password"
                           type="password"
                           [(ngModel)]="model.password"
                           placeholder="Пароль">
                </mat-input-container>
                <br>
                <button mat-raised-button color="accent"
                        [disabled]="!loginForm.valid">Войти
                </button>
            </form>
            <div class="login-layout-toolbar">
                <button mat-raised-button color="primary" routerLink="register" routerLinkActive="active">Регистрация</button>
            </div>
        </div>
    </div>
    <simple-notifications [options]="options"></simple-notifications>
    <router-outlet></router-outlet>
</div>
