<mat-card-header class="">
    <mat-card-subtitle>Варианты выборки:</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
    <mat-list>
        <mat-list-item>
            <form [formGroup]="costsFilterForm">
                <mat-form-field>
                    <mat-select placeholder="Сумма" (change)="amountFilterChanged($event)" [(ngModel)]="costsFilterModel['amountFilterAttr']" formControlName="amountSort">
                        <mat-option *ngFor="let filterAttr of filterAttrs['amountFilterAttrs']"
                                    [value]="filterAttr.name">
                            {{ filterAttr.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-mini-fab [disabled]="!costsService.costsSortedProp" [color]="'primary'" class="" (click)="formReset()" matTooltip="Сбросить фильтры" [matTooltipPosition]="'above'">
                    <mat-icon class="costs-list-filter-button-icon">close</mat-icon>
                </button>
            </form>
        </mat-list-item>
    </mat-list>
</mat-card-content>
