<mat-card class="costs-chart">
    <mat-card-header class="costs-chart-header">
        <mat-card-title>График операций:</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <button class="close-layout" mat-icon-button color="accent" (click)="close.emit($event)">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-header>
    <hr class="hr-style2-accent">
    <mat-card-content>
        <costs-chart-layout (chartClick)="chartClick($event)"
                            (charthover)="chartHover($event)"
                            [service]="costsService"
                            [chartColors]="chartLayoutColors"
                            [chartLayoutParams]="chartLayoutParams"
                            [chartOptions]="chartLayoutOptions"></costs-chart-layout>
    </mat-card-content>
</mat-card>
