<md-card class="costs-chart">
    <md-card-header class="costs-chart-header">
        <md-card-title>График операций:</md-card-title>
        <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <hr class="hr-style2-accent">
    <md-card-content>
        <costs-chart-layout (chartClick)="chartClick($event)"
                            (charthover)="chartHover($event)"
                            [service]="costsService"
                            [chartColors]="chartLayoutColors"
                            [params]="chartLayoutParams"
                            [chartOptions]="chartLayoutOptions"></costs-chart-layout>
    </md-card-content>
</md-card>
