<div class="add-cost-dialog">
    <div class="add-cost-dialog-spinner-container">
        <spinner class="add-cost-dialog-spinner" [hidden]="!loading" [strokeWidth]="strokeWidth" [width]="spinnerWidth" [height]="spinnerHeight"></spinner>
    </div>
    <div class="add-cost-dialog-header">
        <p>Добавить операцию</p>
    </div>
    <form [formGroup]="addCostForm" (ngSubmit)="addNewCost()">
        <table cellpadding="0">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput
                               [(ngModel)]="cost.date"
                               formControlName="date"
                               [matDatepicker]="picker"
                               placeholder="Выберите дату операции">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-select class="full-width"
                                    [(ngModel)]="cost.type"
                                    formControlName="type"
                                    placeholder="Статья">
                            <mat-option *ngFor="let costType of costTypes" [value]="costType.icon">
                                {{costType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput
                               [(ngModel)]="cost.amount"
                               formControlName="amount"
                               type="number"
                               placeholder="Сумма">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput
                               [(ngModel)]="cost.description"
                               formControlName="description"
                               type="text"
                               placeholder="Описание">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <button mat-raised-button color="primary" class="add-cost-dialog-submit" [disabled]="!addCostForm.valid || loading">
            <mat-icon>check</mat-icon>
        </button>
    </form>
</div>
