<md-card class="costs-statistics">
    <md-card-header>
        <md-card-title>
            <strong>{{costStatistic['currentDayName']}} <br> {{costStatistic['formatCurrentDay']}}</strong>
        </md-card-title>
        <md-card-subtitle class="card-subtitle">Текущий период:
            <strong>{{costStatistic['endDay']}}</strong> - <strong>{{costStatistic['startDay']}}</strong>
        </md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <p class="costs-statistics-add-cost">Доход: <strong>{{costStatistic['addSummary']}}</strong> &#8381;</p>
        <p class="costs-statistics-remove-cost">Расход: <strong>{{costStatistic['removeSummary']}}</strong> &#8381;
        </p>
        <p class="costs-statistics-balance">Баланс: <strong>{{costStatistic['addSummary'] -
            costStatistic['removeSummary']}}</strong> &#8381;</p>
    </md-card-content>
</md-card>
