<mat-card class="costs-statistics">
    <mat-card-header>
        <mat-card-title>
            Сегодня: <strong>{{costStatistic['currentDayName']}} {{costStatistic['formatCurrentDay']}}</strong>
        </mat-card-title>
        <mat-card-subtitle class="card-subtitle">Текущий период:
            <strong>{{costStatistic['startDay']}}</strong> - <strong>{{costStatistic['endDay']}}</strong>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="costs-statistics-add-cost">Доходы: <strong>{{costStatistic['addSummary']}}</strong> &#8381;</p>
        <p class="costs-statistics-remove-cost">Расходы: <strong>{{costStatistic['removeSummary']}}</strong> &#8381;
        </p>
        <p class="costs-statistics-balance">Баланс: <strong>{{costStatistic['addSummary'] -
            costStatistic['removeSummary']}}</strong> &#8381;</p>
    </mat-card-content>
</mat-card>
