.costs-control-panel {
    margin-top: 7px;
}

.mat-card-content-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto 1fr;
}

#chart-container {
    position: absolute;
    width: 90%;
    top: 3rem;
    left: 1.5rem;
    margin: 0 auto;
    z-index: 2;
}

// mobile
@media screen and (max-width: 768px) {
    .costs-control-panel {
        margin-top: 0;
    }

    #chart-container {
        width: auto;
        left: 0.1rem;
        right: 0.1rem;
    }
}
