.costs-control-panel {
    margin-top: 7px;
    min-height: 170px;
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
}

#chart-container {
    position: fixed;
    width: 90%;
    top: 3rem;
    left: 3rem;
    margin: 0 auto;
    z-index: 2;
}
