<md-card class="costs-control-panel">
    <md-card-header>
        <md-card-title>Панель управления:</md-card-title>
    </md-card-header>
    <md-card-content>
        <div class="md-card-content-grid">
            <costs-date-interval-selector (costsSearchEmitter)="costsSearchEmitter.emit($event)"></costs-date-interval-selector>
            <div class="graph-button-container">
                <button md-raised-button color="primary" (click)="toggleChart($event)">
                    <md-icon>show_chart</md-icon>
                    График
                </button>
            </div>
        </div>
    </md-card-content>
</md-card>
<div id="chart-container" *ngIf="showChartStatus">
    <costs-chart (close)="toggleChart($event)"></costs-chart>
</div>
