@import "../../../../../assets/scss/palettes/material-palette";

:host {
    border: solid 1px $primary-color-light;
    border-radius: 5px;
    width: 100%;
}

#costs-date-interval-selector-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .costs-date-interval-selector-container-form {
        display: grid;
        grid-template-columns: 1fr;
    }
    .costs-date-interval-selector-container-actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
