<div id="costs-date-interval-selector-container">
    <form [formGroup]="dateIntervalForm" class="costs-date-interval-selector-container-form">
        <mat-form-field>
            <input matInput
                   [(ngModel)]="dateInterval.startDate"
                   formControlName="startDate"
                   [matDatepicker]="pickerStartDate"
                   (dateInput)="startDateHandler($event)"
                   (dateChange)="startDateHandler($event)"
                   placeholder="Начальная дата">
            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #pickerStartDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   [(ngModel)]="dateInterval.endDate"
                   formControlName="endDate"
                   [matDatepicker]="pickerEndDate"
                   (dateInput)="endDateHandler($event)"
                   (dateChange)="endDateHandler($event)"
                   placeholder="Конечная дата">
            <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #pickerEndDate></mat-datepicker>
        </mat-form-field>
        <div class="costs-date-interval-selector-container-actions">
            <button mat-button
                    color="primary"
                    class="submit"
                    (click)="dateIntervalFormSubmit($event)"
                    [disabled]="!dateIntervalForm.valid || searchRunning"
                    type="submit">
                <mat-icon class="mat-24" aria-label="Поиск операций">search</mat-icon>
            </button>
            <button mat-button
                    color="primary"
                    (click)="clearDateInterval($event)"
                    [disabled]="searchRunning"
                    type="button">
                <mat-icon class="mat-24" aria-label="Очистить фильтр">clear</mat-icon>
            </button>
        </div>
    </form>
</div>
