<div id="costs-date-interval-selector-container">
    <form [formGroup]="dateIntervalForm" class="costs-date-interval-selector-container-form">
        <md-form-field>
            <input mdInput
                   [(ngModel)]="dateInterval.startDate"
                   formControlName="startDate"
                   [mdDatepicker]="pickerStartDate"
                   (dateInput)="startDateHandler($event)"
                   (dateChange)="startDateHandler($event)"
                   placeholder="Начальная дата">
            <md-datepicker-toggle mdSuffix [for]="pickerStartDate"></md-datepicker-toggle>
            <md-datepicker touchUi="true" #pickerStartDate></md-datepicker>
        </md-form-field>
        <md-form-field>
            <input mdInput
                   [(ngModel)]="dateInterval.endDate"
                   formControlName="endDate"
                   [mdDatepicker]="pickerEndDate"
                   (dateInput)="endDateHandler($event)"
                   (dateChange)="endDateHandler($event)"
                   placeholder="Конечная дата">
            <md-datepicker-toggle mdSuffix [for]="pickerEndDate"></md-datepicker-toggle>
            <md-datepicker touchUi="true" #pickerEndDate></md-datepicker>
        </md-form-field>
        <button md-button
                color="primary"
                class="submit"
                (click)="dateIntervalFormSubmit($event)"
                [disabled]="!dateIntervalForm.valid || searchRunning"
                type="submit">
            <md-icon class="md-24" aria-label="Поиск операций">search</md-icon>
        </button>
    </form>
</div>
