<button mat-button
        [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button routerLink=""
            mat-menu-item
            routerLinkActive="route-active"
            [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </button>
    <button routerLink="/calendar"
            routerLinkActive="route-active"
            [routerLinkActiveOptions]="{exact: false}"
            mat-menu-item>
        <mat-icon>event</mat-icon>
        <span>Календарь</span>
    </button>
    <button routerLink="/costs"
            routerLinkActive="route-active"
            [routerLinkActiveOptions]="{exact: false}"
            mat-menu-item>
        <mat-icon>insert_chart</mat-icon>
        <span>Финансы</span>
    </button>
</mat-menu>
<div class="user-bar">
    <button mat-button (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</div>
