<button md-button
        [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
</button>
<md-menu #menu="mdMenu">
    <button routerLink=""
            md-menu-item
            routerLinkActive="route-active"
            [routerLinkActiveOptions]="{exact: true}">
        <md-icon>dashboard</md-icon>
        <span>Dashboard</span>
    </button>
    <button routerLink="/calendar"
            routerLinkActive="route-active"
            [routerLinkActiveOptions]="{exact: false}"
            md-menu-item>
        <md-icon>event</md-icon>
        <span>Календарь</span>
    </button>
    <button routerLink="/costs"
            routerLinkActive="route-active"
            [routerLinkActiveOptions]="{exact: false}"
            md-menu-item>
        <md-icon>insert_chart</md-icon>
        <span>Финансы</span>
    </button>
</md-menu>
<div class="user-bar">
    <button md-button (click)="logOut()">
        <md-icon>exit_to_app</md-icon>
    </button>
</div>
